<h1>San Francisco: Public Space, Film Sight, & 311 Corelation </h1>

<h2>Data Cleanup Draft</h2>

In [249]:
#Import Dependencies
import pandas as pd
import numpy as np
import json
import requests

In [250]:
#File paths
film_file_path = 'Resources/Film_Locations_in_San_Francisco_20240116.csv'

#API
api_311 = 'https://data.sfgov.org/resource/vw6y-z8j6.json'
geojson_Public_Spaces = 'https://data.sfgov.org/resource/65ik-7wqd.geojson'

In [251]:
#Create Dataframes from resource files
film_df = pd.read_csv(film_file_path)
film_df.head()

,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,Actor 2,Actor 3,SF Find Neighborhoods,Analysis Neighborhoods,Current Supervisor Districts
0,Experiment in Terror,1962,The Sea Captain's Chest (Fisherman's Wharf),NaN,Columbia Pictures Corporation,Columbia Pictures,Blake Edwards,The Gordons,Glenn Ford,Lee Remick,Stefanie Powers,99.0,23.0,3.0
1,Experiment in Terror,1962,100 St. Germain Avenue,NaN,Columbia Pictures Corporation,Columbia Pictures,Blake Edwards,The Gordons,Glenn Ford,Lee Remick,Stefanie Powers,47.0,38.0,8.0
2,Chan is Missing,1982,"Li Po (916 Grant Avenue at Washington, Chinatown)",NaN,New Yorker Films,New Yorker Films,Wayne Wang,Wayne Wang,Wood Moy,Marc Hayashi,Lauren Chew,104.0,6.0,3.0
3,A View to a Kill,1985,Taylor and Jefferson Streets (Fisherman's Wharf),NaN,Metro-Goldwyn Mayer,MGM/UA Entertainment Company,John Glen,Richard Maibaum,Roger Moore,Christopher Walken,Tanya Roberts,99.0,23.0,3.0
4,The Californians,2005,NaN,NaN,Parker Film Company,Fabrication Films,Jonathan Parker,Jonathan Parker & Catherine DiNapoli,Noah Wyle,NaN,NaN,21.0,36.0,10.0

In [252]:
#Get access to URL to obtain API data
response_311 = requests.get(api_311).json()
df_311 = pd.DataFrame(response_311)
df_311.head()

,service_request_id,requested_datetime,updated_datetime,status_description,status_notes,agency_responsible,service_name,service_subtype,service_details,address,...,:@computed_region_fcz8_est8,:@computed_region_nqbw_i6c3,:@computed_region_9jxd_iqea,closed_date,media_url,:@computed_region_6ezc_tdp2,:@computed_region_h4ep_8xdi,:@computed_region_n4xg_c4py,:@computed_region_2dwj_jsy4,:@computed_region_y6ts_4iup
0,17769123,2024-01-15T01:35:28.000,2024-01-15T01:35:58.000,Open,open,Recology_Overflowing,Street and Sidewalk Cleaning,City_garbage_can_overflowing,City_garbage_can_overflowing,"993 NORTH POINT ST, SAN FRANCISCO, CA, 94109",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17769120,2024-01-15T01:33:31.000,2024-01-15T01:33:59.000,Open,open,Recology_Overflowing,Street and Sidewalk Cleaning,City_garbage_can_overflowing,City_garbage_can_overflowing,"690 STANYAN ST, SAN FRANCISCO, CA, 94117",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17769119,2024-01-15T01:32:11.000,2024-01-15T01:32:14.000,Open,open,Entertainment Commission - G,Noise Report,entertainment,Noise Report - entertainment,"3159 16TH ST, SAN FRANCISCO, CA, 94103",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17769118,2024-01-15T01:29:29.000,2024-01-15T01:29:59.000,Open,open,Recology_Overflowing,Street and Sidewalk Cleaning,City_garbage_can_overflowing,City_garbage_can_overflowing,"106 WEST PORTAL AVE, SAN FRANCISCO, CA, 94127",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17769117,2024-01-15T01:29:02.000,2024-01-15T01:29:58.000,Open,open,Recology_Overflowing,Street and Sidewalk Cleaning,City_garbage_can_overflowing,City_garbage_can_overflowing,"6 CLEARY CT, SAN FRANCISCO, CA, 94109",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [311]:
#Use this for nested JSONs
#Get data from API via request
response_public = requests.get(geojson_Public_Spaces).json()

#Finding the length of the json request
end_range = len(response_public['features'])

#Create list to obtain data from loop
public_space_dict = []

#Loop through json by length
for i in range(end_range):
    public_space_dict.append({'Name':response_public['features'][i]['properties']['name'],
                              'Hours':response_public['features'][i]['properties']['hours_type'],
                              'Year Opened':response_public['features'][i]['properties']['year'],
                              'Food Onsite':response_public['features'][i]['properties']['food_service'],
                              'Restrooms':response_public['features'][i]['properties']['restrooms'],
                              'Address':response_public['features'][i]['properties']['popos_address'],
                              'Capacity':response_public['features'][i]['properties']['seating_no'],
                              'Landscaping':response_public['features'][i]['properties']['landscaping'],
                              'Amenities':response_public['features'][i]['properties']['amenities']})

#Put the JSON data into a pandas dataframe
public_space_df = pd.DataFrame(public_space_dict)
public_space_df.head()

,Name,Hours,Year Opened,Food Onsite,Restrooms,Address,Capacity,Landscaping,Amenities
0,555 Mission St,Open At All Times,2008,Yes,Yes,555 Mission St,100 linear seats and benches.,"9 trees, permeable gravel, bushes",None
1,Foundry Square NE,Open At All Times,2008,Yes,No,400 Howard St,"20 linear seats, 24 movable",8 trees,None
2,Foundry Square SE,Open Business Hours,2005,Yes,No,405 Howard St,"44 movable chairs, 45 linear seats on planter ...",8 trees,None
3,Foundry Square NW,Open At All Times,2003,Yes,No,500 Howard St,"44 linear seating on ledges, 21 seating on pla...","8 trees, palm plant planters,",None
4,235 Second St,Open Business Hours,2002,Yes,No,235 Second St,42 chairs and 15 tables,Bamboo and street trees protect space from sid...,None

<h1>Mapping all locations</h1>

In [313]:
#Import dependences
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'